* {
    margin: 0px;
    padding: 0px;
   /*  box-sizing: border-box; */
    font-family: Verdana, sans-serif;
}
header{
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.logo-container{
    padding-top: 10px;
    cursor: pointer;
}

ul{
    display: flex;   
}
ul li{
    list-style: none;
    position: relative;
    padding-left: 50px;
}
ul a{
    text-decoration: none;
    color: rgb(0, 87, 128);
}
ul a:hover{
    color:  rgb(112, 113, 114) ;
}
.button{
    color: cornsilk;
    background-color: rgb(42, 143, 238);
    border-radius: 15px;
    padding: 2px 15px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(109, 183, 252) ;
}
.back-img{
    background-image: url(images/coding.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
}
.header{
    background-color: rgba(255, 254, 254, 0.7);
    position: absolute;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    top: 200px;
    left: 330px;
    padding: 50px 100px;
}
.link{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient( 45deg, rgb(6, 110, 158), rgb(16, 248, 198));
    padding: 5px 10px;
    font-size: 15px;
    transition: padding 0.2s ease, font-size 0.2s ease;
}
.link:hover{
    padding: 7px 12px;
    font-size: 17px;
}
.mentor{
    width: 60%;
    height: 300px;
    border-radius: 20px;
    background-image: linear-gradient(25deg, rgb(252, 207, 111), rgba(10, 247, 196, 0.411));
    padding: 5px;
    margin: 5px;
    
}
.mentor-img{
    background-image: url(images/jahnkar\ mahbub.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    shape-outside: circle();
}
.content{
    width: 70%;
    height: 250px;
    border-radius: 20px;
    background-image: linear-gradient(25deg, rgba(247, 66, 75, 0.589),rgb(248, 228, 47));
    padding: 5px;
    margin: 5px;
    float: right;
    text-align: right;
}
.img-content{
    background-image: url(images/html.jpg);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 10%;
    float: right;
    margin: 20px;    
}
article p{
    text-align: justify;
}
.end-qoute{
    width: 50%;
    position: absolute;
    text-align: center;
    margin-top: 300px;
    margin-left: 350px;
}
.form{
    width: 80%;
    color: honeydew;
    background-image: linear-gradient(#f72626, rgb(250, 164, 164) );
    position: absolute;
    text-align: center;
    margin-top: 400px;
    margin-left: 150px;
    height: 60px;
    border-radius: 10px;
    padding-top: 30px;
}
.footer-end{
    position: relative;
    text-align: center;
    margin-top: 550px;
    margin-left: 30px;
    color: gray;
}
/* learn.html */
.youtube{
    width: 45%;
    padding-top: 30px;
    padding-left: 30px;
    float: left;   
}
.y-text{
    width: 50%;
    height: 350px;
    float: left;
    margin-top: 50px;
    background: linear-gradient(90deg, rgb(120, 2, 124),  rgb(2, 96, 139));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.y-text p{
    text-align: justify;
}
.y-text h2{
    background: linear-gradient(90deg,   rgba(12, 169, 241, 0.623), rgb(236, 32, 32), rgba(12, 169, 241, 0.623));   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding:  5px 10px;   
}
